// Video section

.player {
  background-color: $main-color;
  position: relative;

  video {
    max-height: 100%;
    width: 100%;

  }

  .player-controls {
    align-items: center;
    bottom: 3%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;



    .pause-play-btn {
      background-color: transparent;
      border: 0;
      color: $secondary-text-color;
      cursor: pointer;
      font-size: 16px;
    }

    .progress {
      background-color: $secondary-text-color;
      border: 1px solid #000;
      cursor: pointer;
      height: 2px;
      margin: 0 2em;
      position: relative;
      width: 70%;
      @include breakpoint(xs) {
        width: 60%;
      }
    }

    .fill-progress {
      border: 1.5px solid $secondary-text-color;
      border-radius: 10px;
      bottom: 0.35em;
      content: '';
      height: 10px;
      position: relative;
      width: 10px;
    }

    .time {
      color: $secondary-text-color;
      font-family: $heading-font;
      font-size: 13px;
    }

  }
}
@supports (-webkit-text-stroke-width: 2px) {
  .pause-play-btn {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: $secondary-text-color;
    -webkit-text-stroke-width: 2px;
    background-color: transparent;
  }
}
