.cart {
  grid-area: cart;
}

.shop {
  grid-area: shop;
}

.about {
  grid-area: about;
}

.stories {
  grid-area: stories;
}

.blog {
  grid-area: blog;
}

.search {
  grid-area: search;
}

.account {
  grid-area: account;
}

.logo {
  grid-area: logo;
}

.whistlist {
  grid-area: whistlist;
}

.visible-hamburger-btn {
  grid-area: close-btn;
}

